/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, textarea{
	box-sizing: border-box;
}
/***************************************/
/***************END OF RESET************/
/***************************************/
.bg-ivory{
	background: #fffff0;
	color: #001a4d;
}

.bg-smalt{
	background: #001a4d;
	color: #fffff0;
}

a:visited{
	color: inherit;
}

.thin{
	font-family: "Montserrat", sans-serif;
	font-weight: 200;
}

.regular{
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
}

.thick{
	font-family: "Montserrat", sans-serif;
	font-weight: 900;
}

.lgmenus{
	display: none;
}

.french{
	display: block;
}

.english{
	display: none;
}

/***************HEADER****************/
#header{
	position: fixed;
	width: 100%;
	height: 50px;
	top: 0;
}

.flags{
	display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.flag{
	width: 40px;
	height: 40px;
}

.bannerul{
	display: flex;
	margin: 0 auto;
	justify-content: space-around;
	height: 100%;
	align-items: center;
}

.headerli{
	height: 100%;
	flex:1;
}

.headerli p{
	display: flex;
	height: 100%;
	justify-content: center;
	align-items: center;
}

/****************MAIN***************/

.main{
	margin-top: 50px;
	height: 1000px;
}

/**************CONTACT FORM*********/

#contactform{
	margin-bottom: 60px;
}

#forminner{
	width: 90%;
	text-align: center;
	margin: 20px auto;
}

#formtitle{
	margin-bottom: 2%;
	font-size: 1.5em;
}

#forminner input, textarea{
	margin: 0 auto;
	margin-bottom: 2%;
	border: none;
	border-radius: 5px;
	padding: 5px;
}

#inptypetext{
	display: flex;
	margin-bottom: 2%;
	justify-content: space-between;
}

#inptypetext input{
	width: 49%;
	margin: 0;
}

#message{
	width: 100%;
}

#mymessage{
	width: 100%;
	resize: none;
}

#submit input{
	background: #d31f43;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
}

#submit input:hover{
	cursor: pointer;
	background: #d31f43;
}

#copyright{
	font-size: 0.8em;
	text-align: center;
}

/*****************FOTTER*************/
#footer{
	position: fixed;
	width: 100%;
	height: 50px;
	bottom: 0;
}

.footerli{
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 100%;
}

.footerli a{
	font-size: 0.8em;
	height: 40px;
	padding: 5px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.footerli *{
	display: block;
    margin-left: auto;
    margin-right: auto;
	text-align: center;
	text-decoration: none;
}

.icon{
	width: 15px;
	height: auto;
}

.iconsm{
	display: block;
}

.iconsw{
	display: none;
}

@media (min-width: 576px) {
	#footer{
		display: none;
	}
}

@media (min-width: 768px) {

}


@media (min-width: 992px) {

}


@media (min-width: 1200px) {

}

/* *{
	background: rgba(0,0,0,0.1);
} */